.Flow{
    color: rgb(255, 0, 0);
    background-color: burlywood;
    border-radius: 40px 40px;
    padding: 20px 30px;
    margin: 70px;

}

body{
    background-color: rgb(0, 242, 255);
    
    }

    .Temp{
        color: rgb(255, 0, 0);
        background-color: burlywood;
        border-radius: 40px 40px;
        padding: 20px 30px;
        margin: 70px;
    
    }

    .Level{
        color: rgb(255, 0, 0);
        background-color: burlywood;
        border-radius: 40px 40px;
        padding: 20px 30px;
        margin: 70px;
    
    }