.Flow{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 40px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 30px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: 'Kanit', sans-serif;
  font-family: 'Mali', cursive;
}

.Flow {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


    

  

body{
    background-image: url('G.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Kanit', sans-serif;
    font-family: 'Mali', cursive;
    
    }


    .Temp{
        background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 40px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 30px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: 'Kanit', sans-serif;
  font-family: 'Mali', cursive;
}

.Temp {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


    .Level{
        background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 40px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 30px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: 'Kanit', sans-serif;
font-family: 'Mali', cursive;
}

.Level {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
    
    

    .Pressure{
        background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 40px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 30px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: 'Kanit', sans-serif;
  font-family: 'Mali', cursive;
}

.Pressure {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}