body{
    background-color: lightblue;
    
    }

    .L{
        color: aqua;
        background-color: hwb(0 61% 29%);
        border-radius: 80px 80px;
        padding: 20px 50px;
        margin: 50px;
    }